<!-- src/app/shared/modal/modal.component.html -->
<div class="modal-overlay" (click)="onClose()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    @if (title()) {
    <div class="modal-header">
      <h2 class="modal-title">{{ title() }}</h2>
      <span class="modal-close" (click)="onClose()">×</span>
    </div>
    <hr />
    }

    <div class="modal-body">
      <ng-content />
    </div>

    <div class="modal-footer">
      <ng-content select="[modal-footer]" />
    </div>
  </div>
</div>
